/* .grid-item {
  width: 200px;
}
.grid-item--width2 {
  width: 400px;
} */

* {
  box-sizing: border-box;
}

/* force scrollbar */
html {
  overflow-y: scroll;
}

body {
  font-family: sans-serif;
}

/* ---- grid ---- */

.grid {
  background: #ddd;
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}
